*{
  margin: 0;
  padding: 0;
   font-family: 'Barlow', sans-serif;
   overflow-x: hidden;
}
.main{
  display: flex;
}
.home{
  cursor: pointer;
  background-color: #EBF8F2;
  color: #56C78E;
  padding: 1em 1em;
  border-radius: 10px;
}

.nav{
  padding: 2rem 2rem;
}
.nav div{
  margin-top: 20px;
}
.img{
  height: 40px;
  width: 40px;
  background-color: gray;
  border-radius: 50px;
}

.logo{
  display: flex;
  /* box-shadow: 1px 1px 5px black; */
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5); ;
  align-items: center;
  width: fit-content;
  padding: 5px 5px;
  border-radius: 10px;
}
.logo div{
  margin: 0 5px;
}

.manage li{
  list-style: none;
  margin: 20px;
}

a{
  text-decoration: none;
}

/* DASHBORAD */

.dashtable{
  margin: 1em;
  border-radius: 10px;
  /* box-shadow: 1px 1px 5px black; */
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5); ;
}

.search{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:1em ;
}


.s-icon{
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.top-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 70rem;
  height: 40px;
  width: 40px;
  background-color: #00AB55;
  color: white;
  border-radius: 50px;
}

.offers{
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jpara{
  display: flex;
  margin-top: 1em;
}
.jpara p {
  margin-right: 1em ;
}

.jbutton button{
  padding: 0.7em 1.5em;
  background: none;
  border-radius: 10px;
  background-color: #00AB55;
  color: white;
  border: none;
}
.rowfirst{
  display: flex;
}
.rowfirst .card{
  margin: 2rem 6rem;
}
.rowsecond{
  display: flex;
}
.rowsecond .card{
  margin: 2rem 6rem;
}
.card{
  display: flex;
}
.card-logo{
  border-radius: 50px;
  margin-right: 10px;
}
.suitcase{
  height: 30px;
  width: 30px;
  margin: 1rem 1rem;
}

/* ICONS COLOR */
.to{
  color: #00B8D9;
}
.po{
  color: #FFAB00;
}
.pob{
  color:#F29339;
}
.jovd{
  color :#FF5630;
}
.jo{
  color: #36B37E;
}
.nj{
  color: #637381;
}
/* ICON BORDER */
.b1{
  border: 6px solid #CDECF3 ;
}
.b2{
  border: 6px solid #F5DDA9 ;
}
.b3{
  border: 6px solid #EFC59D;
}
.b4{
  border: 6px solid #F5C3B8;
}
.b5{
  border: 6px solid #B7DFD0;
}
.b6{
  border :6px solid #C5CCD1;
}

/* TABLE CSS */
.main-table{
   /* box-shadow: 1px 1px 5px black; */
   box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5); ;
   border-radius: 10px;
   width: 77%;
  margin: auto;
  display: flex;
  justify-content: center;
  position: relative;
  left: 100px;
}
.table{
  border-collapse: separate;
  border-spacing: 0px 20px ;
}
.headings{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F4F6F8;
  border-radius: 10px;
  width: 76vw;
  position: relative;
  /* left: 91px; */

}
.headings h4{
  display: flex;
  margin: 0 1em;
  cursor: pointer;
  padding: 1em 0;
}
#p1{
  background-color: #CDECF3;
  padding: 5px 7px;
  border-radius: 10px;
}
#p2{
  background-color: #F5DDA9;
  padding: 5px 12px;
  border-radius: 10px;
}
#p3{
  background-color: #EFC59D;
  padding: 5px 12px;
  border-radius: 10px;
}
#p4{
  background-color: #F5C3B8;
  padding: 5px 12px;
  border-radius: 10px;
}
#p5{
  background-color: #B7DFD0;
  padding: 5px 12px;
  border-radius: 10px;
}
#p6{
  background-color: #C5CCD1;
  padding: 5px 12px;
  border-radius: 10px;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: gray
/* #0087ca; */
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #00AB55;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
h4 p{
  margin: 0 0.5em;
}
tr{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0em 150px;
}
.row{
  position: relative;
  right: 123px;

}

.dropmenu{
  height: 2em;
  width: 10em;
  border-radius: 5px;
  font-size: 20px;
}
.filters{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  
}

.date{
  margin-left: 1em;
  margin-right: 1em;
  border-width: 1px;
  height: 2em;
  width: 10em;
  border-radius: 5px;
  font-size: 20px;
}
.filtersearch{
  position: relative;
  height: 2em;
  width: 20em;
  border-radius: 5px;
  border-width: 1px;
  font-size: 20px;
} 
.mainhead{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 6rem;
  width: 73vw;
  background-color: #F4F6F8;
  position: relative;
  right: 92px;
  padding: 20px;
}
.memoji{
  display: flex;
}
.memoji img{
  height: 50px;
  width: 50px;
  border-radius: 100px;
  margin-top: 15px;
}

.row td{
  text-align: center !important;
}

tr td {
  text-align: center;
}


.mainhead div{
  margin: 0 2em;  
  text-align: justify;
}

.emojiandname{
  display: flex;
  align-items: center;
}

.lableandname{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 10rem;
}

